{% extends 'index.twig' %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="content-column--narrow">
                <h1 class="mb-5 text-center text-warning">{{ entry.beerName }}</h1>

                <div class="row text-white">
                    <div class="col-8 my-auto px-5">
                        <h6 class="card-subtitle text-warning mb-2">Info</h6>

                        <p class="card-text">{{ entry.notes }}</p>

                        <h6 class="card-subtitle text-warning mb-2">Pair With:</h6>

                        <p class="card-text">{{ entry.pairings }}</p>
                    </div>

                    <div class="col-4 my-auto">
                        <h6 class="card-subtitle text-warning mb-2">ABV</h6>

                        <p class="card-text">{{ entry.abv }}</p>

                        <h6 class="card-subtitle text-warning mb-2">Comes in:</h6>

                        <p>{{ entry.formats }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}