{% extends 'index.twig' %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="content-column text-center text-white">
                <h1 class="mb-5 text-warning">Search Results</h1>

                {% set nQuery = craft.app.request.getQueryParam('n') %}
                {% set stockists = craft.entries.section('stockists').search(nQuery) %}

                {% set bQuery = craft.app.request.getQueryParam('b') %}
                {% set products = craft.entries.section('products').search(bQuery) %}

                {% set lQuery = craft.app.request.getQueryParam('l') %}
                {% set stockists = craft.entries.section('products').search(bQuery) %}

                {% if nQuery %}
                    {% if stockists|length %}
                        <p>{{ stockists|length }} result{% if stockists|length > 1 %}s{% endif %}:</p>

                        <ul class="list-unstyled">
                            {% for stockist in stockists %}
                                <li><a class="btn btn-light mb-4" href="{{ stockist.slug }}">{{ stockist.businessName }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Your search for “{{ nQuery }}” didn’t return any results.</p>
                    {% endif %}
                {% elseif bQuery %}
                    <p>{{ bQuery }} is stocked at:</p>

                    <ul class="list-unstyled">
                        {% for product in products %}
                            {% for stockedAt in product.stockedAt.all() %}
                                <li><a class="btn btn-light mb-4" href="{{ stockedAt.url }}">{{ stockedAt.businessName }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Please fill in one of the search fields</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

