{% extends "index.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="content-column text-white text-center">
                <h1 class="mb-5 text-warning">Contact Us</h1>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h6 class="card-subtitle text-warning mb-3">Contact form:</h6>

                        {% macro errorList(errors) %}
                            {% if errors %}
                                {{ ul(errors, {class: 'errors'}) }}
                            {% endif %}
                        {% endmacro %}

                        {% set message = message ?? null %}

                        <form method="post" action="" accept-charset="UTF-8">
                            {{ csrfInput() }}
                            {{ actionInput('contact-form/send') }}
                            {{ redirectInput('contact/thanks') }}

                            <div class="form-group">
                                {{ input('text', 'fromName', message.fromName ?? '', {
                                    class: 'form-control mb-2',
                                    placeholder: 'First Name',
                                    id: 'from-name',
                                    autocomplete: 'name',
                                }) }}
                                {{ message ? _self.errorList(message.getErrors('fromName')) }}
                                
                                {{ input('text', 'fromSurname', message.fromSurname ?? '', {
                                    class: 'form-control mb-2',
                                    placeholder: 'Surname',
                                    id: 'from-surname',
                                    autocomplete: 'surname',
                                }) }}
                                {{ message ? _self.errorList(message.getErrors('fromSurname')) }}

                                {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                                    class: 'form-control mb-2',
                                    placeholder: 'Email Address',
                                    id: 'from-email',
                                    autocomplete: 'email',
                                }) }}
                                {{ message ? _self.errorList(message.getErrors('fromEmail')) }}

                                <select placeholder="Subject" class="form-control mb-2" name="subject" id="subject">
                                    <option>Subject</option>
                                    <option value="Product information">Product information</option>
                                    <option value="Customer care enquiries">Customer care enquiries</option>
                                    <option value="Licensing and branding">Licensing and branding</option>
                                    <option value="General">General</option>
                                </select>

                                {{ tag('textarea', {
                                    text: message.message ?? '',
                                    class: 'form-control mb-2',
                                    placeholder: 'Message',
                                    id: 'message',
                                    name: 'message',
                                    rows: 10,
                                    cols: 40,
                                }) }}
                                {{ message ? _self.errorList(message.getErrors('message')) }}

                                {{ redirectInput('thanks?from={fromName}') }}

                                <br><button class="btn btn-light form-control w-50" type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-6 col-sm-12 my-auto mt-5">
                        <h6 class="card-subtitle text-warning mb-2">Find us:</h6>

                        <p>
                            Goodbeers Inc.<br>
                            35-41 Drymuir Road<br>
                            Edinburgh EH16 1UU
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}