{% extends 'index.twig' %}

{% block content %}
    {% set beers = entry.beersStocked %}

    <section class="section">
        <div class="container">
            <div class="content-column--narrow text-center">
                <div class="my-auto text-white">
                    <h1 class="mb-5 text-warning">{{ entry.title }}</h1>
                    
                    <div class="row">
                        <div class="col-md-12 my-auto">
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="text-warning mb-2">Address:</h6>

                                    <p class="card-text">{{ entry.addressLine1 }}</p>

                                    <p class="card-text">{{ entry.addressLine2 }}</p>

                                    <p class="card-text">{{ entry.addressLine3 }}</p>

                                    <p class="card-text">{{ entry.addressLine4 }}</p>

                                    <p class="card-text">{{ entry.postcode }}</p>
                                </div>

                                <div class="col-6">
                                    <h6 class="text-warning mb-2">In Stock:</h6>

                                    <ul class="list-unstyled">
                                        {% for beer in beers %}
                                            <li>
                                                <a href="{{ beer.slug }}" class="link-unstyled">{{ beer.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 col-md-12 text-center">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        // As with locator.js, map will be initialised with the coordinates of the individual stockist entry

        /* 
            Note - js would have been put in a separate file, however I don't know yet if it's possible to pass
            the variables from the html 'set' template tag through to a javascript file.
        */ 
        function initMap() {
            const location = { lat: {{ entry.latitude }}, lng: {{ entry.longitude }} };
            
            const map = new google.maps.Map(document.getElementById("map"), {
                // Zoom into localised area
                zoom: 10,
                center: location,
            });
            const marker = new google.maps.Marker({
                position: location,
                map: map,
            });
        }
    </script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA26wiZoEeMSjknDUe0N_0cHaARYvHV1Uo&callback=initMap">
    </script>
{% endblock %}