{% extends 'index.twig' %}

{% block content %}
    {% set beers = entry.beersStocked %}

    <div class="container">
        <div class="content-column">
            <div class="my-auto text-white text-center">
                <h1 class=" my-auto">{{ entry.businessName }}</h1>

                <p class="card-text">{{ entry.addressLine1 }}</p>

                <p class="card-text">{{ entry.addressLine2 }}</p>

                <p class="card-text">{{ entry.addressLine3 }}</p>

                <p class="card-text">{{ entry.addressLine4 }}</p>

                <p class="card-text">{{ entry.postcode }}</p>

                {% for beer in beers %}
                    <a href="{{ beer.slug }}" class="card-text">{{ beer.beerName }}</a>
                {% endfor %}

                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function initMap() {
            const location = { lat: {{ entry.latitude }}, lng: {{ entry.longitude }} };
            
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: location,
            });
            const marker = new google.maps.Marker({
                position: location,
                map: map,
            });
        }
    </script>

    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA26wiZoEeMSjknDUe0N_0cHaARYvHV1Uo&callback=initMap">
    </script>
{% endblock %}