{% extends "index.twig" %}

{% block content %}
    {% set stockists = craft.entries.section('stockists').all() %}

    <section>
        <div class="container hero-content">
            <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for stockist in stockists %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ stockist.businessName }}</h5>

                            <p class="mb-0">{{ stockist.addressLine1 }}</p>

                            <p class="mb-0">{{ stockist.addressLine2 }}</p>

                            <p class="mb-0">{{ stockist.addressLine3 }}</p>

                            <p class="mb-0">{{ stockist.addressLine4 }}</p>

                            <p class="mb-0">{{ stockist.postcode }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}